* {
    margin: auto;
    box-sizing: border-box;

}

.eliminarTarea {
    opacity: 0.2;
    pointer-events: none;
}

.visibilidad {
    /*display: flex;*/
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}

.tablita {
    padding: 4%;
    background: white;
}

.hidden {
    display: none;
}

input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.bloque1 {
    display: flex;
}

td {
    vertical-align: middle;
}

.container .table-agregar_editar th label {
    margin: 10px;
}

.tachar {
    text-decoration: line-through;
}

.desactivar {
    opacity: 0.2;
    pointer-events: none;
}

button[type="submit"] {
    border: none;
    padding: 6px;
}