* {
    margin: auto;
    box-sizing: border-box;
    background: bisque;
}

.eliminarTarea {
    display: none;
}

.visibilidad {
    display: flex;
}

.tablita {
    /*padding: 4%;*/
    background: white;
}

.hidden {
    display: none;
}